<div class="dialog-container">
    <div class="dialog-content">
        <button class="dialog-close-button" (click)="close()">Close</button> <!-- Move close button here -->
            <h3> Create Srvice</h3>

            <div class="property">
                <h2>Name*: </h2>
                <input type="text" placeholder="ECU Name" [(ngModel)]="newServiceName">
            </div>
            
            <div class="property">
                <h2>Description*: </h2>
                <input type="text" placeholder="Description" [(ngModel)]="newServiceDescription">
            </div>
            <button class="dialog-save-button" [disabled]="!true" (click)="save()">Save</button> <!-- Move close button here -->
        </div>
      
</div>




