<!-- main-screen.component.html -->
    <!-- header.component.html -->
<header class="header">
    <div class="header-left">
        <!-- Logo -->
        <img src="../../../../assets/images/logo-unicaragil-rgb.svg" alt="Logo" class="logo">

        <div class="dropdown-container" tabindex="0" (blur)="showDropdown = false">
            <div class="dropdown-display" (click)="toggleDropdownCreate()">
                {{ selectedOption?.label || 'Create' }}
            </div>
            <div class="dropdown-menu" *ngIf="showDropdown">
                <div class="dropdown-item" *ngFor="let option of options" (click)="selectOption(option)">
                    {{ option.label }}
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <!--<button class="move-button">
            Move <i class="fas fa-hand-paper"></i> 
        </button>-->

        <!-- Architecture dropdown Field -->
        <div class="dropdown-container" tabindex="0" (blur)="showDropdownSelectArchitecture = false">
            <div class="dropdown-display" (click)="toggleDropdownSelectArchitecture()">
                {{ selectedArchitecture?.label || 'Select Architecture' }}
            </div>
            <div class="dropdown-menu" *ngIf="showDropdownSelectArchitecture">
                <div class="dropdown-item" *ngFor="let option of architectures" (click)="selectArchitecture(option)">
                    {{ option.name }}
                </div>
            </div>
        </div>

        <!-- Search Field with Magnifier Icon -->
        <div class="search-box">
            <input type="text" placeholder="Search" class="search-field">
            <i class="fas fa-search magnifier-icon"></i>
        </div>
    </div>

   <!-- <div class="header-center">
        
        <label class="switch">
            <input type="checkbox" id="toggleSwitch" (change)="toggleView()">
            <span class="slider"></span>
        </label>
    </div>-->

    <div class="header-right">

        <button class="generate-button" (click)="saveLines()">Save</button>
        <!-- Generate Button -->
        <button class="generate-button">Generate</button>

        <!-- User Logo -->
        <div *ngIf="userImage; else defaultLogo">
            <img src="{{ userImage }}" alt="User" class="user-image">
        </div>
          
        <ng-template #defaultLogo>
            <div class="user-logo">{{ userName ? (userName[0] | uppercase) : 'U' }}</div>
        </ng-template>
    </div>
</header>
  
    <!-- Your draggable items will go here                                             start of the main-->
    <div class="main-screen">
        <div class="button-set">
            <button class="zoomButton" (click)="zoomIn()">+</button>
            <button class="zoomButton" (click)="zoomOut()">-</button>
        </div>
       
        <div class="drag-boundary" [style.zoom]="zoomLevel">

        <svg id="svg-container" class="connestion-line-container">
            <line class="connestion-line" *ngFor="let line of lines" 
                  [attr.x1]="line.positionFromX" 
                  [attr.y1]="line.positionFromY"
                  [attr.x2]="line.positionToX" 
                  [attr.y2]="line.positionToY"
                  [attr.connectedFrom]="line.connectedFrom"
                  [attr.connectedTo]="line.connectedTo"
                  [attr.id]="line.id"
                  (dblclick)="openConnectionDialog(line)"/>
            <line class="connestion-line-overlay" *ngFor="let line of lines" 
                  [attr.x1]="line.positionFromX" 
                  [attr.y1]="line.positionFromY"
                  [attr.x2]="line.positionToX" 
                  [attr.y2]="line.positionToY"
                  [attr.connectedFrom]="line.connectedFrom"
                  [attr.connectedTo]="line.connectedTo"
                  [attr.id]="line.id"
                  (dblclick)="openConnectionDialog(line)"/>     
        </svg>
          

        <div *ngFor="let item of ecus" 
        cdkDrag
        cdkDragBoundary=".drag-boundary"
        [style.transform]="'translateX(' + item.positionX + 'px) translateY(' + item.positionY + 'px)'"
        (cdkDragEnded)="onDragEnded($event, item)"
        (cdkDragMoved)="rewriteLine(item)"
        class="draggable-item"
        (dblclick)="openHarwareDetailsDialog(item)"
        (click)="onEcuClick(item, $event)"
        [attr.ecuId]="item.id" >
        <ng-container *ngIf="item.type == 'ECU'">
            <div class="ecu">
                <div class="label-draggable-item">{{ item.label + "|" + item.id}}</div>
                <div class="content-draggable-item">{{ servicesCountMap.get(item.id) || 0 }} Services</div> <!--number of services-->
                <!--<div class="content-draggable-item">{{servicesNumber[item.connectedTo]}} Services</div>-->
            </div>
        </ng-container>
        <ng-container *ngIf="item.type == 'BUS'">
            <div class="bus">
                <div class="label-bus">{{ item.label + "|" + item.id}}</div>
                <div class="content-bus"><!--{{ servicesCountMap.get(item.id) || 0 }} Services--></div> <!--number of services-->
                <!--<div class="content-draggable-item">{{servicesNumber[item.connectedTo]}} Services</div>-->
            </div>
        </ng-container>
        <ng-container *ngIf="item.type == 'CAN'">
            <div class="can">
                <div class="label-can">{{ item.label + "|" + item.id}}</div>
                <div class="content-can"><!--{{ servicesCountMap.get(item.id) || 0 }} Services--></div> <!--number of services-->
                <!--<div class="content-draggable-item">{{servicesNumber[item.connectedTo]}} Services</div>-->
            </div>
        </ng-container>

       
   </div>
</div>

        <ecu-dialog *ngIf="showHardwareDetailsDialog" [dialogData]="dialogData" (closeDialog)="closeHarwareDetailsDialog()"></ecu-dialog>
        <bus-dialog *ngIf="showBusDialog" [dialogData]="dialogData" (closeDialog)="onCloseBusDialog()"></bus-dialog>
        <create-hardware-dialog *ngIf="showCreateHardwareDialog" [createHardwareData]="dialogData" (closeDialog)="onCloseCreateHardwareDialog()"></create-hardware-dialog>
      
 
    </div>
    
    




