<!--<ng-container *ngIf="!showServiceDialog">-->
   <!-- <div class="dialog-container">
        <div class="dialog-content">-->
<div class="dropdown-container" tabindex="0" (blur)="showDropdown = false">
    <div class="dropdown-display" (click)="toggleDropdownCreate()">
        {{ selectedOption?.name || 'Select Service' }} 
    </div>
    <div class="dropdown-menu" *ngIf="showDropdown">
        <div class="dropdown-item" *ngFor="let option of options" (click)="selectOption(option)"> 
            {{ option.name }}
        </div>
    </div>
</div>
<button class="select-all-services-button" (click)="selectAllServices()">Select all Services</button>
<button class="service-save-button" (click)="saveServices()">Save</button>
<div class="main-screen">

    <div class="button-set">
        <button class="zoomButton" (click)="zoomIn()">+</button>
        <button class="zoomButton" (click)="zoomOut()">-</button>
        
    </div>
    <div class="horisontal-wrapper">
        
        <div class="ecu">
            

            <h4 class="ecu-name">{{ selectedEcu?.label + "|" + selectedEcu?.id }}</h4>
            <div class="drag-boundary" [style.zoom]="zoomLevel">

                <div *ngFor="let item of serviceData.dialogData.servicesMap.get(this.selectedEcu?.id)"
                    cdkDrag
                    cdkDragBoundary=".drag-boundary"
                    [style.transform]="'translateX(' + item.positionX + 'px) translateY(' + item.positionY + 'px)'"
                    (cdkDragEnded)="onDragEnded($event, item)"
                    (cdkDragMoved)="rewriteLine(item)" 
                    class="draggable-item"
                    (dblclick)="serviceData.openServiceDetailsDialog(item)"
                    (click)="onEcuClick(item, $event)"
                    [attr.serviceId]="item.id" 
                    [id]="item.id"  >
                    <div class="label-draggable-item">{{ item.name + "|" + item.id }}</div>
                    <div class="content-draggable-item">Service</div> <!--number of services-->
                </div>
            </div>
        </div>
        <div class="ecu" id="myElement" #scrollableEcu style="overflow: scroll;">
            <div *ngFor="let item1 of serviceData.dialogData.ecus"><!-- </ng-container>-->
                <!--<div *ngIf="item1.id !== serviceData.selectedEcu.id"> </ng-container>-->
                
                    <div *ngIf="serviceData.dialogData.canReach(selectedEcu?.id?.toString(), item1.id.toString()) && item1.type =='ECU'">
                    <div class="ecu1">
                        <h4 class="ecu-name">{{ item1.label + "|" + item1.id }}</h4>
                        <div class="drag-boundary" [style.zoom]="zoomLevel">
                            <div *ngFor="let item of serviceData.dialogData.servicesMap.get(item1.id)"
                                cdkDrag
                                cdkDragBoundary=".drag-boundary"
                                [style.transform]="'translateX(' + item.positionX + 'px) translateY(' + item.positionY + 'px)'"
                                (cdkDragEnded)="onDragEnded($event, item)"
                                (cdkDragMoved)="rewriteLine(item)"
                                class="draggable-item"
                                (dblclick)="serviceData.openServiceDetailsDialog(item)" 
                                (click)="onEcuClick(item, $event)"
                                [attr.serviceId]="item.id" 
                                [id]="item.id" 
                                #draggableItem>
                                <div class="label-draggable-item">{{ item.name + "|" + item.id }}</div>
                                <div class="content-draggable-item">Service</div> <!--number of services-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <svg id="svg-container" class="connestion-line-container" [style.zoom]="zoomLevel"> 
            <line class="connestion-line" *ngFor="let line of dataStreams" 
                  [attr.x1]="line.positionFromX" 
                  [attr.y1]="line.positionFromY"
                  [attr.x2]="line.positionToX" 
                  [attr.y2]="line.positionToY"
                  [attr.connectedFrom]="line.connectedFrom"
                  [attr.connectedTo]="line.connectedTo"
                  [attr.id]="line.id"
                  (dblclick)="openDataStreamDetails(line)"/>
            <line class="connestion-line-overlay" *ngFor="let line of dataStreams" 
                  [attr.x1]="line.positionFromX" 
                  [attr.y1]="line.positionFromY"
                  [attr.x2]="line.positionToX" 
                  [attr.y2]="line.positionToY"
                  [attr.connectedFrom]="line.connectedFrom"
                  [attr.connectedTo]="line.connectedTo"
                  [attr.id]="line.id"
                  (dblclick)="openDataStreamDetails(line)"/>     
        </svg>
    </div>
</div>
<!--</div>
</div>-->
<!--</ng-container>-->

